@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  background-color: #d392d3;
  background-image: url("../assets/freepik__expand__67094.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: rgb(147, 111, 180);
  font-size: 2rem;
  margin-bottom: 20px;
}

.calculator-container {
  background-color: rgb(147, 111, 180);
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 20px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calculator-display {
  background-color: rgba(209, 197, 209, 0.514);
  width: 100%;
  height: 80px;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 2rem;
}

.result {
  margin-right: 10px;
}

.buttons-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.calculator-number-buttons,
.equals-buttom {
  background-color: #c49dc4;
  width: 100%;
  max-width: 70px;
  height: 70px;
  border: none;
  border-radius: 50%;
  font-size: 1.5rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.calculator-number-buttons:hover,
.equals-buttom:hover {
  background-color: #e464c8;
  transform: scale(1.05);
}

.calculator-number-buttons:focus,
.equals-buttom:focus {
  background-color: #b965e0;
}

.equals-buttom {
  width: 100%;
  max-width: 150px;
  border-radius: 30px;
  font-size: 1.8rem;
}

/* Estilo Responsivo */
@media (max-width: 768px) {
  body {
    font-size: 14px;
    padding: 10px;
  }
  h1 {
    font-size: 1.8rem;
  }
  .calculator-display {
    height: 60px;
    font-size: 1.8rem;
  }
  .calculator-number-buttons,
  .equals-buttom {
    max-width: 60px;
    height: 60px;
    font-size: 1.2rem;
  }
  .equals-buttom {
    max-width: 130px;
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 12px;
  }
  h1 {
    font-size: 1.5rem;
  }
  .calculator-container {
    padding: 15px;
  }
  .calculator-display {
    height: 50px;
    font-size: 1.5rem;
  }
  .calculator-number-buttons,
  .equals-buttom {
    max-width: 50px;
    height: 50px;
    font-size: 1rem;
  }
  .equals-buttom {
    max-width: 100px;
    font-size: 1.2rem;
  }
}